/* ================= RESET ================= */
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

/* ================= BASE ================= */
body {
  background: #05010d;
  color: #fff;
  font-family: Segoe UI, sans-serif;
  padding: 30px;
}

header {
  margin-bottom: 20px;
}

/* ================= UPLOAD / BOTÕES ================= */
.upload,
.acoes {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn-file,
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Botão file customizado */
.btn-file {
  background: transparent;
  color: #00e5ff;
  border: 2px solid #00e5ff;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 1%;
}

.btn-file:hover {
  background: #00e5ff;
  color: #000;
  box-shadow: 0 0 20px #00e5ff;
}

/* Nome dos arquivos */
.arquivos-info {
  font-size: 14px;
  color: #00e5ff;
}

/* Botões padrão */
button {
  background: transparent;
  color: #00e5ff;
  border: 2px solid #00e5ff;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background: #00e5ff;
  color: #000;
  box-shadow: 0 0 20px #00e5ff;
}

/* ================= FILTROS ================= */
.filtros {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
}

select {
  background: #05010d;
  color: #00e5ff;
  border: 2px solid #00e5ff;
  padding: 8px;
  border-radius: 8px;
}

/* ================= CARDS ================= */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  margin-top: 25px;
  padding: 20px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 15px #00e5ff55;
}

/* ================= CONTEÚDO ================= */
.conteudo {
  margin-top: 5px;
  display: grid;
  gap: 40px;
}

/* ================= TABELA ================= */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  font-size: 15px;
}

thead {
  background: linear-gradient(90deg, #00e5ff33, #00e5ff11);
}

thead th {
  padding: 14px;
  color: #00e5ff;
  border-bottom: 2px solid #00e5ff;
}

tbody tr {
  transition: background 0.3s, transform 0.2s;
}

tbody tr:hover {
  background: rgba(0, 229, 255, 0.15);
  transform: scale(1.01);
}

.linha-ativa {
  background: rgba(0, 255, 255, 0.25);
  font-weight: bold;
}

thead th:nth-child(2),
thead th:nth-child(3),
tbody td:nth-child(2),
tbody td:nth-child(3) {
  text-align: right;
}

/* ================= GRÁFICO ================= */
/* Wrapper é quem controla o espaço */
.grafico-wrapper {
  width: 100%;
  height: 360px;
  max-height: 360px;
  overflow: hidden;
  margin-bottom: 10px;
  /* estado inicial (não ocupa espaço) */
  display: none;
}

/* Wrapper ativo */
.grafico-wrapper.ativo {
  display: block;
}

/* Canvas */
#grafico {
  width: 100% !important;
  height: 100% !important;
}