body {
  background: #05010d;
  color: #fff;
  font-family: Segoe UI, sans-serif;
  padding: 30px;
}

header {
  margin-bottom: 20px;
}

.upload,
.acoes {
  margin: 20px 0;
}

button {
  background: transparent;
  color: #00e5ff;
  border: 2px solid #00e5ff;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #00e5ff;
  color: #000;
  box-shadow: 0 0 20px #00e5ff;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  padding: 20px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 15px #00e5ff55;
}

.conteudo {
  margin-top: 30px;
}

.filtros {
  gap: 10px;
  margin-top: 50px;
}

select {
  background: #05010d;
  color: #00e5ff;
  border: 2px solid #00e5ff;
  padding: 8px;
  border-radius: 8px;
}